<div class="jumbtron">
    <h1 class="display-4 text-center">Crud Usuarios</h1>
    <hr>
    <div class="row">        
        <div class="col-md-5" style="margin-left: 4%;">
            <h6 class="text-center">
                Crear Usuario
            </h6>
            <app-user></app-user>
        </div>
        <div class="col-md-6">
            <h6 class="text-center">
                Lista de Usuarios
            </h6>
            <app-user-list></app-user-list>
        </div>
    </div>
</div>
